<?xml version="1.0" ?>
<robot name="xpider_base_link" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find xpider_resources)/urdf/common_materials.xacro"/>
<xacro:include filename="$(find xpider_resources)/urdf/common_constants.xacro"/>

    <link name="shield_bottom">
    <visual>
      <origin xyz="0 0 0" rpy="0 -${m_pi_2} 0"/>
      <geometry>
        <mesh filename="package://xpider_descriptions/meshes/shield_bottom.stl" scale="${ratio_stl} ${ratio_stl} ${ratio_stl}"/>
      </geometry>
      <xacro:material_xpider_grey />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 -${m_pi_2} 0"/>
        <geometry>
          <mesh filename="package://xpider_descriptions/meshes/shield_bottom.stl" scale="${ratio_stl} ${ratio_stl} ${ratio_stl}"/>
        </geometry>
      </collision>
    </link>
</robot>
