<?xml version="1.0" ?>
<robot name="xpider" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find xpider_resources)/urdf/common_materials.xacro"/>
<xacro:include filename="$(find xpider_resources)/urdf/common_constants.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/step_bridge.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/leg.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/step_up.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/step_connect.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/step_b.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/step_c.xacro"/>
<xacro:include filename="$(find xpider_descriptions)/models/xpider.gazebo" />
<!--<xacro:include filename="$(find xpider_descriptions)/models/leg_shield.xacro"/>-->

  <link name="world"/>

  <!-- Big fixed components-->
  <xacro:include filename="$(find xpider_descriptions)/models/set_base.xacro" />

  <!--  First set of Legs -->
  <xacro:include filename="$(find xpider_descriptions)/models/set_legs_1.xacro" />

  <!-- Second set of legs -->
  <xacro:include filename="$(find xpider_descriptions)/models/set_legs_2.xacro" />


</robot>
